@charset:utf-8;
*{margin:0; padding:0;}
ul, ol{list-style:none;}
a:hover, a:link, a:active, a:visited{text-decoration:none; color:#333333;}
a{text-decoration:none; color:#33333;}

body{
	font-family:  'NEXON Lv1 Gothic';
	font-size:12px;
	line-height:24px;
	color:#333333;
}


/*contents*/
.sub_pink{
	font-weight:bold;
	color:#f0618e;
	margin-top:5px;	
}
.sub_pink2{
	font-weight:bold;
	color:#f0618e;
	font-size:12px;
}
.sub_bold{
	font-weight:bold;
}
.small{
	padding-top:10px;
	font-size:10px;
	color:#666;
    font-weight:normal;	
}

#contents{
	width:1200px;
	height:450px;
	margin:0 auto;	
	line-height:15px;
	margin-bottom:150px;		
}
.ht{
	margin-top:175px;
}
.photo2{
	margin-top:-50px;
}

/*contents1*/
#contents1 ul{
	float:left;
}
#contents1 ul li{
	
}
#contents1 ul li:nth-child(1){
	margin-left:0;
}
#contents1 ul li:nth-child(5){
	margin-right:0;
}

#contents1{
	max-width:1200px;
	width:100%;
	margin: 0 auto;
	padding-bottom: 70px;
}

#contents1 ul li a{
	display:block;
	margin:5px;
}
.screen{
	position:relative;
	overflow:hidden;
}
.screen img{
	width:313px;
	height: 400px;
	display:block;
}

.bottom{
	padding:10px 0;
	position:absolute;
	width:313px;
	height: 400px;
	bottom:-85%;
	left:0;
	z-index:2;
	font-weight:bold;
	color:#333;
	transition:all 0.5s;
	text-align:center;
	background:rgba(255,255,255,0.7);
}
.bottom p{
	font-size: 16px;
	line-height: 28px;
}

.swiper-slide-next .bottom{bottom:-20%;}
.swiper-slide{transform:scale(0.7);}
.swiper-slide-next{transform:scale(1);}
.swiper-slide-duplicate-prev{transform:scale(0.7);}
.swiper-button-prev{left: 0px;}
.swiper-button-next{right: 0px;}
.swiper-button-prev{content:url(../images/left.png);
	width:18px;
	height:31px;
}
.swiper-button-next{content:url(../images/right.png);
		width:18px;
		height:31px;
}


